body {
    margin: 0;
    padding: 0;
}

#TITRE {
    text-align: center;
    font-family: gotham;
    margin: 50px 0;
}

h1 {
    text-align: left;
    font-size: 100%;
    margin: 10px;
    padding-top: -10;
    text-decoration : none;
    list-style: none;
}

#TITRE img{
    width: 50%;
    margin-bottom: 100px;
    margin-top: 40px;
}

#TITRE h2 {
    text-align: center;
    font-family: gotham;
    margin: 50px 0;
    font-size: 200%;
}